<header class="header" itemscope="" itemtype="http://schema.org/WPHeader">

  <div class="inner-header wrap cf"
       style="transform: matrix(1, 0, 0, 1, 0, 0);">

    <a id="logo" class="logo-fit top-menu" href="https://8fit.com">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 841.89 595.28">
        <defs>
          <style>.cls-1 {
            fill: currentColor;
          }</style>
        </defs>
        <path class="cls-1"
              d="M417.43,524A115.11,115.11,0,0,1,336,327.52L451.31,212.24a47.91,47.91,0,1,0-67.76,0l18,18-15.84,15.84-18-18a70.31,70.31,0,1,1,99.44,0L351.87,343.36a92.71,92.71,0,1,0,131.11,0l-18-18,15.84-15.84,18,18A115.11,115.11,0,0,1,417.43,524Z"></path>
        <path class="cls-1"
              d="M417.43,479.23a70.31,70.31,0,0,1-49.72-120L483,243.92a92.71,92.71,0,1,0-131.11,0l18,18L354.07,277.8l-18-18a115.11,115.11,0,1,1,162.79,0L383.55,375a47.91,47.91,0,1,0,67.75,0l-18-18,15.84-15.84,18,18a70.31,70.31,0,0,1-49.72,120Z"></path>
      </svg>
    </a>
    <div class="top-menu top-menu-left">
      <ul id="menu-top-menu" class="">
        <li id="menu-item-1909"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1909">
          <a href="https://8fit.com/articles/">Articles</a></li>
        <li id="menu-item-6538"
            class="mobilehide menu-item menu-item-type-post_type menu-item-object-page menu-item-6538">
          <a href="https://8fit.com/transformation-stories/">Transformations</a>
        </li>
      </ul>
    </div>
    <div class="top-menu top-menu-right">
      <div class="menu-icon">
        <a class="evmenu-togg">
          <div class="icon-text hidden">Menu</div>
          <div class="icon-menu">
            <div class="icon-menu-line-1 darkback"></div>
            <div class="icon-menu-line-2 darkback"></div>
            <div class="icon-menu-line-3 darkback"></div>
          </div>
        </a>
      </div>

      <div class="menu-item-inner menu-item">

        <a class="blue-btn fit-btn btn-ani-green call-to-action animsition-link"
           href="/signup">
          <div class="btn-in">Sign up</div>
          <div class="btn-elem"></div>
        </a>


      </div>


    </div>
  </div>
</header>